{% extends 'base.html.twig' %}

{% block title %}Hello TeamController!{% endblock %}

{% block body %}
<div>
    <div>
        <h1>L'équipe</h1>
        <p>L'équipe de travail à été formée avec pour objectif le développement d'un jeu à l'aide de PHP grâce au Framework Symfony au sein de la formation Aliptic</p>
    </div>
    <h2>Les membres</h2>
    <div>
        <section>
            <h1>Ronan</h1>
            <img src="https://fakeimg.pl/100/">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis sed vitae aliquam. Harum commodi accusamus, neque repellat voluptatum quibusdam quisquam!</p>
        </section>
        <section>
            <h1>Quentin</h1>
            <img src="https://fakeimg.pl/100/">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas reprehenderit asperiores a perspiciatis atque voluptatibus dolor itaque temporibus explicabo blanditiis.</p>
        </section>
        <section>
            <h1>Tony</h1>
            <img src="https://fakeimg.pl/100/">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi fugiat doloribus doloremque quidem excepturi tenetur labore fugit quam mollitia recusandae!</p>
        </section>
    </div>
</div>

{% endblock %}
