{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}The Rumor - Edit static page{% endtrans %}
{% endblock %}

{% block body %}

<h1>{% trans %}Edit static pages{% endtrans %}</h1>
    {{ form_start(formPages) }}
        {{ form(formPages) }}
    {{ form_end(formPages) }}
    
{% endblock %}