{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}The Rumor - New user{% endtrans %}
{% endblock %}

{% block body %}
    <h1>TODO Enlevez?</h1>
    <h1>Create new User</h1>
    {{ include('user/_form.html.twig') }}

    <a href="{{ path('admin_panel') }}">back to list</a>
{% endblock %}
